@import '../config/breakpoints';

// Desktop

@include desktop() {
    :root {
        --alignHeader: flex-start;
        --alignFooter: space-between;
        --padding: 0 100px;
        --menu: row;
        --toggleMenuShow: none;
        --mainGrid:
            "header header header" 80px
            ". main ." 1fr
            "footer footer footer" 100px
            / 1fr minmax(800px, 1200px) 1fr
        ;
        --homeGrid: 
            "panel wellcome aside" 220px
            "panel form aside" 200px
            "panel posts aside" 1fr
            / minmax(150px, 250px) 580px minmax(250px, 350px)
        ;
        --loginGrid: 
            "image form" 1fr
            "image info" 100px
            / 1fr 300px
        ;
    }
}