@import '../config/breakpoints';

// Mobile

@include mobile() {
    :root {
        --mainGrid:
            "header"
            "main"
            "footer"
            / 1fr
        ;
        --loginGrid: 
            "image" 1fr
            "form" 1fr
            "info" 1fr
            / 1fr
        ;
    }
}

// Mobile Landscape

@include mobileLarge {
    :root {
        --alignHeader: flex-start;
        --alignFooter: space-between;
        --padding: 0 20px;
        --menu: column;
        --toggleMenuShow: block;
    }
}

// Mobile Portrait

@include mobileSmall {
    :root {
        --alignHeader: center;
        --alignFooter: center;
        --padding: 0 60px;
        --menu: column;
        --toggleMenuShow: block;
    }
}