@import '../config/breakpoints';

// Mobile

@include mobile() {
    :root {
        --mainGrid:
            "header" 100px
            "main" 1fr
            "footer" 150px
            / 1fr
        ;
        --loginGrid: 
            "image" 1fr
            "form" 1fr
            "info" 1fr
            / 1fr
        ;
    }
}

// Mobile Landscape

@include mobileLarge {
    :root {
        --homeGrid: 
            "panel" 1fr 
            "wellcome" 220px
            "form" 200px
            "posts" 1fr
            "aside" 1fr
            / 1fr
        ;
        --alignHeader: flex-start;
        --alignFooter: space-between;
        --padding: 0 20px;
        --menu: column;
        --toggleMenuShow: block;
    }
}

// Mobile Portrait

@include mobileSmall {
    :root {
        --homeGrid: 
            "panel" 1fr 
            "wellcome" 440px
            "form" 200px
            "posts" 1fr
            "aside" 1fr
            / 1fr
        ;
        --alignHeader: center;
        --alignFooter: center;
        --padding: 0 60px;
        --menu: column;
        --toggleMenuShow: block;
    }
}