@import '../config/breakpoints';

// Tablet

@include tablet() {
    :root {
        --alignHeader: flex-start;
        --alignFooter: space-between;
        --padding: 0 100px;
        --menu: column;
        --toggleMenuShow: block;
        --mainGrid:
            "header header header" 80px 
            ". main ." 1fr
            "footer footer footer" 100px
            / 1fr 785px 1fr
        ;
        --homeGrid: 
            "panel" 1fr 
            "wellcome" 220px
            "form" 200px
            "posts" 1fr
            "aside" 1fr
            / 1fr
        ;
        --loginGrid: 
            "image" 1fr
            "form" 1fr
            "info" 1fr
            / 1fr
        ;
    }
}