@import '../config/breakpoints';

// Tablet

@include tablet() {
    :root {
        --alignHeader: flex-start;
        --alignFooter: space-between;
        --padding: 0 100px;
        --menu: column;
        --toggleMenuShow: block;
        --mainGrid:
            "header header header"
            ". main ."
            "footer footer footer"
            / 1fr 785px 1fr
        ;
        --homeGrid: 
            "panel"
            "wellcome"
            "form"
            "posts"
            "aside"
            / 1fr
        ;
        --loginGrid: 
            "image" 1fr
            "form" 1fr
            "info" 1fr
            / 1fr
        ;
    }
}