@import '../config/breakpoints';

.single {
    padding: 10px;
    border-radius: var(--radius);
    background-color: var(--secondary);

    @include mobile() {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.multi {
    > * {
        border-radius: var(--radius);
        background-color: var(--secondary);
        padding: 10px;
        margin-bottom: 10px;
    }
}
.single,
.multi {
    color: var(--text);
}
.hide {
    @include touch() {
        display: none !important;
    }
}