.post {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        height: 40px;
        align-items: center;
        gap: 10px;

        img {
            border-radius: 50%;
        }
    }
    .text {
        display: flex;
        margin-top: 20px;
    }
}