@import '../config/prefixes';

.relation {
    .header {
        font-size: 15pt;
    }
    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;

        .item {
            width: 100px;
            height: 100px;
            display: flex;

            &:hover {
                cursor: pointer;

                .figure img {
                    filter: blur(3px);
                }
            }
            .figure {
                position: relative;

                > * {
                    border-radius: var(--radius);
                }
                .caption {
                    background: rgba(0, 0, 0, 0.5);
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    padding: 5px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    font-size: 10pt;
                    color: var(--text2);
                    z-index: 99;
                }
                img {
                    border-radius: var(--radius);
                    width: 100%;

                    @include transition(all, 200ms, ease);
                }
            }
        }
    }
}