@use '../config/breakpoints' as *;

#stats {
    display: flex;
    flex-wrap: nowrap;

    @include mobileSmall() {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        width: auto;
        max-height: 160px;
    }
}