#login {
    display: grid;
    grid-area: main;
    gap: 10px;
    grid-template: var(--loginGrid);
    padding: 5em 0;

    #loginForm {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    
        #loginInput {
            height: 40px;
        }
    }
}