@use '../config/breakpoints' as *;

#login {
    grid-area: main;
    display: grid;
    gap: 10px;
    padding: 5em 0;

    @include desktop() {
        grid-template: 
            "image form" 1fr
            "image info" 100px
            / 1fr 300px
        ;
    }
    @include touch() {
        grid-template: 
            "image" 1fr
            "form" 1fr
            "info" 1fr
            / 1fr
        ;
    }
    & > * {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    svg {
        width: 400px;
        height: auto;

        @include mobileSmall() {
            width: 150px;
        }
    }
    #loginForm {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    
        #loginInput,
        button {
            height: 40px;
            width: 100%;
        }
    }
}