#main {
    padding: 20px 0;
    grid-area: main;
    display: grid;
    gap: 10px;
    grid-template: var(--contentGrid);

    > aside {
        align-self: start;
    }
    form {
        input[type='text'] {
            width: 100%;
            height: 40px;
        }
    }
}