#main {
    display: grid;
    gap: 10px;
    grid-template: var(--homeGrid);
    padding: 20px 0;

    > aside {
        align-self: start;
    }
    form {
        input[type='text'] {
            width: 100%;
            height: 40px;
        }
    }
}