.container {
    background-color: var(--primary);
    min-height: 100vh;
    display: grid;
    height: 100vh;
    z-index: 99;
}

// Desktop

@media (min-width: 901px) {
    .container {
        --align: space-between;
        --padding: 0 100px;
        --menu: row;
        --toggleMenuShow: none;
        grid-template-columns: 200px 1fr 320px;
        grid-template-rows: 80px 1fr 100px;
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer"
        ;
    }
}

// Tablet and Mobile Landscape

@media (min-width: 461px) and (max-width: 900px) {
    .container {
        --align: space-between;
        --padding: 0 100px;
        --menu: row;
        --toggleMenuShow: none;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 80px 1fr 100px;
        grid-template-areas:
            "header header"
            "main main"
            "footer footer"
        ;
    }
}

// Mobile Landscape

@media (min-width: 461px) and (max-width: 730px) {
    .container {
        --align: space-between;
        --padding: 0 20px;
        --menu: column;
        --toggleMenuShow: block;
    }
}

// Mobile Portrait

@media (max-width: 460px) {
    .container {
        --align: center;
        --padding: 0 60px;
        --menu: column;
        --toggleMenuShow: block;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr 100px;
        grid-template-areas:
            "header"
            "main"
            "footer"
        ;
    }
}