.container {
    background-color: var(--primary);
    min-height: 100vh;
    display: grid;
    height: 100vh;
}

// Desktop

@media (min-width: 901px) {
    .container {
        --footerAlign: space-between;
        --footerPadding: 0 100px;
        grid-template-columns: 1fr 200px 500px 200px 1fr;
        grid-template-rows: 80px 1fr 100px;
        grid-template-areas:
            "header header header header header"
            ". main main main ."
            "footer footer footer footer footer"
        ;
    }
}

// Tablet

@media (min-width: 581px) and (max-width: 900px) {
    .container {
        --footerAlign: space-between;
        --footerPadding: 0 100px;
        grid-template-columns: minmax(1fr, 200px) minmax(1fr, 500px) minmax(1fr, 200px);
        grid-template-rows: 80px 1fr 100px;
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer"
        ;
    }
}

// Mobile Landscape

@media (min-width: 461px) and (max-width: 580px) {
    .container {
        --footerAlign: space-between;
        --footerPadding: 0 20px;
        grid-template-columns: minmax(1fr, 200px) minmax(1fr, 200px);
        grid-template-rows: 80px 1fr 100px;
        grid-template-areas:
            "header header"
            "main main"
            "footer footer"
        ;
    }
}

// Mobile Portrait

@media (max-width: 460px) {
    .container {
        --footerAlign: center;
        --footerPadding: 0 60px;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr 100px;
        grid-template-areas:
            "header"
            "main"
            "footer"
        ;
    }
}