@import './config/breakpoints';

.container {
    background-color: var(--primary);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 100px;
    height: 100vh;
    z-index: 99;
}

// Desktop

@media (min-width: $desktop + 1 + 'px') {
    .container {
        --alignHeader: flex-start;
        --alignFooter: space-between;
        --padding: 0 100px;
        --menu: row;
        --toggleMenuShow: none;
        grid-template-columns: 200px 1fr 320px;
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer"
        ;
    }
}

// Tablet

@media (min-width: $tablet + 1 + 'px') and (max-width: $desktop + 'px') {
    .container {
        --alignHeader: flex-start;
        --alignFooter: space-between;
        --padding: 0 100px;
        --menu: column;
        --toggleMenuShow: block;
        grid-template-columns: 1fr 600px 1fr;
        grid-template-areas:
            "header header header"
            ". main ."
            "footer footer footer"
        ;
    }
}

// Mobile

@media (max-width: $tablet + 'px') {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer"
        ;
    }
}

// Mobile Landscape

@media (min-width: $mobile + 1 + 'px') and (max-width: $tablet + 'px') {
    .container {
        --alignHeader: flex-start;
        --alignFooter: space-between;
        --padding: 0 20px;
        --menu: column;
        --toggleMenuShow: block;
    }
}

// Mobile Portrait

@media (max-width: $mobile + 'px') {
    .container {
        --alignHeader: center;
        --alignFooter: center;
        --padding: 0 60px;
        --menu: column;
        --toggleMenuShow: block;
    }
}