// Index Page

#container {
    background-color: var(--primary);
    min-height: 100vh;
    display: grid;
    grid-template: var(--mainGrid);
    grid-template-rows: 80px 1fr 100px;
    height: 100%;
    z-index: 99;
}