@import './config/breakpoints';

#container {
    background-color: var(--primary);
    min-height: 100vh;
    display: grid;
    grid-template: var(--mainGrid);
    grid-template-rows: 80px 1fr 100px;
    height: 100%;
    z-index: 99;
}

// Desktop

@media (min-width: $desktop + 1 + 'px') {
    #container {
        --alignHeader: flex-start;
        --alignFooter: space-between;
        --padding: 0 100px;
        --menu: row;
        --toggleMenuShow: none;
        --mainGrid:
            "header header header" 100px
            ". main ." 200px
            "footer footer footer" 1fr
            / 1fr minmax(800px, 1200px) 1fr
        ;
        --contentGrid: 
            "panel wellcome aside"
            "panel form aside"
            "panel posts aside"
            / minmax(150px, 250px) 580px minmax(250px, 350px)
        ;
    }
}

// Tablet

@media (min-width: $tablet + 1 + 'px') and (max-width: $desktop + 'px') {
    #container {
        --alignHeader: flex-start;
        --alignFooter: space-between;
        --padding: 0 100px;
        --menu: column;
        --toggleMenuShow: block;
        --mainGrid:
            "header header header"
            ". main ."
            "footer footer footer"
            / 1fr 800px 1fr
        ;
        --contentGrid: 
            "panel"
            "wellcome"
            "form"
            "posts"
            "aside"
            / 1fr
        ;
    }
}

// Mobile

@media (max-width: $tablet + 'px') {
    #container {
        --mainGrid:
            "header"
            "main"
            "footer"
            / 1fr
        ;
    }
}

// Mobile Landscape

@media (min-width: $mobile + 1 + 'px') and (max-width: $tablet + 'px') {
    #container {
        --alignHeader: flex-start;
        --alignFooter: space-between;
        --padding: 0 20px;
        --menu: column;
        --toggleMenuShow: block;
    }
}

// Mobile Portrait

@media (max-width: $mobile + 'px') {
    #container {
        --alignHeader: center;
        --alignFooter: center;
        --padding: 0 60px;
        --menu: column;
        --toggleMenuShow: block;
    }
}